.text-decoration-line-through{
    text-decoration: line-through;
}

.bg-beige{
    background-color: #d1b798;
}

.text-black{
    color: rgba(0, 0, 0, .54);
}

.nav-link.active {
    font-weight: bold;
    border-bottom: 3px solid black;
    /* background-color: #6c7ae0; */
}

.nav-link{
    color: initial;
}

.nav-link:hover{
    /* background-color: #6c7ae0; */
    border-bottom: 3px solid black;
    color: initial;
}

.main-menu li a:hover{
    color: black;
}

.main-menu li a{
    transition: 0s;
}


